.bg-eerieblack {
  background-color: $eerieblack;
  color: $white;
  text-decoration: none;
}
.nav__link {
  color: $white;
  padding-left: 1.5rem;
}

.navbar__logo {
  width: 100px;
}
span{
  color: $fuzzywuzzy;
}
